@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&family=Satisfy&display=swap');

        html {
            scroll-behavior: smooth;
            overflow-x: hidden;
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }

        ::-webkit-scrollbar {
            width: 8px;
        }

        ::-webkit-scrollbar-track {
            background: #000000;
        }

        ::-webkit-scrollbar-thumb {
            background: #22212b;
            border-radius: 2px;
        }

        ::-webkit-scrollbar-thumb:hover {
            background: #3d3c4a;
        }

        input, textarea, button, select, a {
            -webkit-tap-highlight-color: transparent;
        }

        body {
            position: relative;
        }

        body::before {
            content: "";
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            z-index: -1;
            background-image: url(assets/827448_dark\ background\,\ coding\ screen\,\ software\,\ programm_xl-1024-v1-0.png);
            background-size: cover;
            filter: brightness(0.4);
        }

        nav {
            position: sticky;
            height: 70px;
            max-width: 100vw;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0rem calc((100vw - 1300px) / 2);
            top: 0;
            transition: all 0.2s ease;
            z-index: 99999;
        }

        nav.scrolled {
            background-color: #121214;
            border-bottom: 1px solid #1e1d20;
        }

        .logo {
            display: flex;
            align-items: center;
        }

        .logo a {
            display: flex;
        }

        .logo img {
            width: 225px;
            padding: 0 2rem;
        }

        .nav-items a {
            text-decoration: none;
            color: aliceblue;
            padding: 0 1.5rem;
        }

        .nav-items button {
            font-size: 1rem;
            border: 2px solid #1fcad3;
            background-color: transparent;
            color: aliceblue;
            cursor: pointer;
            padding: 0.5rem 1.5rem;
            border-radius: 10px;
            transition: all 0.2s ease;
        }

        .nav-items button:hover {
            box-shadow: rgba(240, 248, 255, 0.182) 0px 0px 30px 0px;
        }

        .hero-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            min-height: 80vh;
            padding: 3rem calc((100vw - 1300px) / 2);
            padding-bottom: 0rem;
        }

        .column-left {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            color: aliceblue;
            padding: 0 2rem;
        }

        .column-left h1 {
            font-size: 3rem;
            margin-bottom: 1rem;
        }

        .column-left p {
            font-size: 1.3rem;
            margin-bottom: 2rem;
            line-height: 1.5;
        }

        .column-left button {
            font-size: 1.2rem;
            border: 2px solid #1fcad3;
            background-color: transparent;
            color: aliceblue;
            cursor: pointer;
            padding: 1rem 2rem;
            border-radius: 15px;
            box-shadow: #dbf4fd36 0px 0px 80px 0px;
            transition: all 0.2s ease;
            margin-bottom: 2rem;
        }

        .column-left button:hover {
            color: aliceblue;
            box-shadow: rgba(240, 248, 255, 0.348) 0px 0px 80px 0px;
        }

        .column-right {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 2rem;
        }

        .si-all{
            display: flex;
            flex-direction: column;
            gap: 5rem;
            padding-bottom: 5rem;
        }

        .header1{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 2rem;
            color: aliceblue;
            font-size: 3rem;
        }

        .chart{
            max-height: 500px;
            display: flex;
        }

        .hero-img {
            width: 100%;
            max-width: 500px;
            filter: drop-shadow(10px 0px 10px #0000002b);
        }

        .partnership {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #121214;
            height: 90px;
            max-width: 100vw;
            contain: content;
            border-bottom: 1px solid #1e1d20;
            
        }

        .partnership img {
            width: 150px;
            padding: 2rem 2rem;
            filter: brightness(99) drop-shadow(0px 0px 10px #00bbff77);
        }

        .partnership h1 {
            font-size: 1rem;
            color: aliceblue;
            padding: 0 2rem;
            font-weight: 300;
            filter: drop-shadow(0px 0px 10px #00bbff77);

        }

        .main-container {
            display: flex;
            flex-direction: column;
            max-width: 100vw;
            min-height: 100vh;
            background-color: #121214;
            padding: 0rem calc((100vw - 1300px) / 2);
        }

        .about, .structure {
            display: grid;
            grid-template-columns: 1fr 1fr;
            color: aliceblue;
            padding: 5rem 2rem;
        }

        .about-column-right, .structure-column-right {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding-left: 2rem;
        }

        .about-column-right img, .structure-column-right img {
            border-radius: 15px;
            box-shadow: #1fcad351 0px 0px 90px 0px;
            width: 100%;
            max-width: 500px;
        }

        .about-column-left h1, .structure-column-left h1 {
            font-size: 3rem;
            margin-bottom: 1rem;
        }

        .about-column-left p, .structure-column-left p {
            font-size: 1.1rem;
            margin-top: 1.5rem;
        }

        .course-title-div{
            display: flex;
            align-items: center;
            justify-content: center;
            color: aliceblue;
            font-size: 3rem;
            text-align: center;
            border-radius: 1rem;
            background: url(assets/SiDivBackground.jpg);
            background-size: cover;
            padding: 1rem;
            margin-bottom: 2rem;
            box-shadow: #1f7c815d 0px 0px 30px 0px;
        }

        .course-title-div2{
            display: flex;
            align-items: center;
            justify-content: center;
            color: aliceblue;
            font-size: 3rem;
            text-align: center;
            border-radius: 1rem;
            background: url(assets/AdsDivBackground.jpg);
            background-size: cover;
            padding: 1rem;
            margin-bottom: 2rem;
            box-shadow: #1f7c815d 0px 0px 30px 0px;
        }

        .course-title-div img{
            filter: blur(40);
        }

        .glider-contain {
            width: 100%;
            max-width: 1100px;
            margin: 0 auto;
            padding: 20px 15px;
            margin-top: 0rem;
            margin-bottom: 1rem;
        }

        .glider {
            height: auto;
            overflow: hidden; 
        }

        .glider-slide {
            display: flex;
            justify-content: center;
            align-items: center;
            height: auto;
            padding: 1.8rem;
        }

        .glider-slide img {
            max-width: 300px;
            height: auto;
            border-radius: 1rem;
        }

        .gliderads img{
            box-shadow: #d4343422 0px 0px 30px 0px;
        }

        .glidersi img{
            box-shadow: #1fcad31b 0px 0px 30px 0px;
        }

        .glider-prev,
        .glider-next {
            color: #fff;
            font-size: 24px;
            border: none;
            padding: 10px;
            cursor: pointer;
        }

        .glider-dot {
            background: #fff;
        }

        .glider-dot.active {
            background: #1fcad3;
        }

        #dotsads .glider-dot.active{
            background: #f34870;
        }

        #discover.scrolled{
            border-color: #ff4a71;
            transition: all 0.5s ease;
        }

        #discover
        {
            border-color: #1ecad3;
            transition: all 0.5s ease;
        }

        #oportunities, #oportunitiesADS{
            justify-content: flex-start;
            padding: 0rem;
        }

        .career-list li{
            font-size: 1.3rem;
        }

        @media screen and (max-width: 768px) {
            .hero-container, .about, .structure {
                grid-template-columns: 1fr;
            }

            .column-left, .about-column-left, .structure-column-left {
                align-items: center;
                text-align: center;
            }

            .about, .structure {
                padding: 2rem 2rem;
            }

            .about-column-right img, .structure-column-right img {
                margin-top: 4rem;
            }

            .about-column-right, .structure-column-right {
                justify-content: center;
                padding-left: 0rem;
            }

            .about-column-left h1, .structure-column-left h1 {
                font-size: 2.5rem;
            }

            .about-column-left p, .structure-column-left p {
                margin-top: 2rem;
            }

            .glider-contain {
                padding: 10px;
            }
        }

        @media screen and (max-width: 600px) {
            #logo {
                width: 75px;
                padding: 0 1rem;
                content: url(assets/logo-cavalo-branco.png);
            }

            body::-webkit-scrollbar {
                display: none;
            }

            .about-column-left p, .structure-column-left p {
                margin-top: 1.5rem;
                font-size: 1rem;
            }

            .column-left {
                padding: 1.2rem;
            }

            nav {
                height: 55px;
            }

            #h1 {
                font-size: 2.9rem;
                line-height: 3rem;
            }

            #about-button {
                display: none;
            }

            .nav-items {
                padding: 0rem 1rem;
            }

            .nav-items a {
                padding: 0rem 0rem;
            }

            .nav-items button {
                font-size: 0.8rem;
                width: 90px;
                padding-right: 0rem;
                padding-left: 0rem;
            }

            .partnership img {
                width: 100px;
                padding: 1rem 1rem;
            }

            .partnership h1 {
                display: none;
            }

            .column-left h1 {
                font-size: 2rem;
                line-height: 2.5rem;
            }

            .column-left p {
                font-size: 1rem;
            }

            button {
                width: 100%;
            }

            .glider-prev,
            .glider-next {
                font-size: 18px;
                padding: 5px;
            }
        }

        #particles-js {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
        .si-course, .career, .testimonials, .contact, .chart {
            padding: 4rem 2rem;
            color: #fff;
            background-color: #020202;
            padding: 3rem 2rem;
            border-radius: 1.5rem;
        }
        
        .si-course-container, .career-container, .testimonials-container, .contact-container {
            max-width: 100%;
            margin: 0 auto;
            gap: 1rem;
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
        }

        .testimonials-container{
            flex-direction: row;
        }

        #testimonials {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
        }

        .career{
            background-color: transparent;
            padding-top: 0rem;
            padding-bottom: 5rem;
        }
        
        .course-highlights {
            display: flex;
            justify-content: space-around;
            margin:0;
        }
        
        .highlight-item {
            text-align: center;
            padding: 1rem;
            background-color: #1e1d20;
            border-radius: 10px;
            min-width: 300px;
        }
        
        #skills-chart {
            height: 300px;
            margin-top: 2rem; 
        }
        
        .career-list {
            list-style-type: none;
            padding: 0;
        }
        
        .career-list li {
            margin-bottom: 0.5rem;
            padding-left: 1.5rem;
            position: relative;
        }
        
        .career-list li::before {
            content: '•';
            color: #1fcad3;
            position: absolute;
            left: 0;
        }
        
        .testimonials-container {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        
        .testimonial {
            flex-basis: calc(50% - 1rem);
            background-color: #1e1d20;
            padding: 1.5rem;
            border-radius: 10px;
            margin-bottom: 2rem;
        }
        
        .testimonial img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            margin-bottom: 1rem;
        }
        
        #contact-form {
            display: flex;
            flex-direction: column;
        }
        
        #contact-form input, #contact-form textarea {
            margin-bottom: 1rem;
            padding: 0.5rem;
            border-radius: 5px;
            border: none;
            background-color: #1e1d20;
            color: #fff;
        }
        
        #contact-form button {
            align-self: flex-start;
            padding: 0.5rem 1rem;
            background-color: #1fcad3;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        
        #contact-form button:hover {
            background-color: #18a2a9;
        }

        .course-title-div2 {
            background: url(assets/AdsDivBackground.jpg);
            box-shadow: rgba(239, 55, 95, 0.167) 0px 0px 30px 0px;
        }
        
        
        #ads-career .career-list li::before {
            color: #ff4a71;
        }
        
        
        #ads-course button:hover,
        #ads-career button:hover {
            box-shadow: rgba(255, 99, 132, 0.348) 0px 0px 80px 0px;
        }

.typed-cursor {
    opacity: 1;
    animation: typedjsBlink 0.7s infinite;
    -webkit-animation: typedjsBlink 0.7s infinite;
    animation: typedjsBlink 0.7s infinite;
}

#typed{
    font-size: 3rem;
}

@keyframes typedjsBlink {
    50% { opacity: 0.0; }
}

@-webkit-keyframes typedjsBlink {
    0% { opacity: 1; }
    50% { opacity: 0.0; }
    100% { opacity: 1; }
}

.typed-fade-out {
    opacity: 0;
    transition: opacity .25s;
    -webkit-animation: 0;
    animation: 0;
}
        
        @media screen and (max-width: 768px) {
            .course-highlights, .testimonials-container {
                flex-direction: column;
            }
        
            .highlight-item, .testimonial {
                margin-bottom: 1rem;
            }

            .chart{
                flex-direction: column;
            }

            html, body {
                overflow-x: hidden;
            }

            .header1{
                font-size: 2rem;
            }
        }

        @media screen and (max-width: 1059px) {
            .chart{
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 2rem
            }
        }