<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fase Iteração</title>
    <link rel="stylesheet" href="../styles/styleIteração.css">
    <script src="https://feiraprofissoesunisanta2024-2-backend.onrender.com/socket.io/socket.io.js"></script>
    <script src="../scripts/scriptIteração.js" async></script>
</head>
<body>
    <h1 id="tempo">0</h1>
    <h1 id="score">Pontos: 0</h1>
    <h2 id="tempojogo">0</h2>
    <div id="gameBoard">
        <div id="player"></div>
        <div id="targetSquare"></div>
    </div>
        <div id="iteração">
            <h2>Valor da Iteração:</h2>
            <input id="inputIteração" type="number" size="2" min="0" max="50">
        </div>

    <input id="start" type="button" value="Start" onclick="startTimer()">
    <div id="message">Tempo encerrado</div>

    <div class="botao-container">
        <input id="start" type="button" value="Start" onclick="startTimer()">
        <button id="completou">Finalizar</button>
        <button id="botaoPopup">Mostrar Dica</button>
    </div>
    
    <div id="popup" class="popup">
        <div class="popup-content">
            <span class="close" id="fecharPopup">&times;</span>
            <h2>Dica</h2><br>
            <p>Você tem 60 seg ao clicar em start</p><br>
            <p>Utilise as setas do teclado para se movimentar</p>
        </div>
    </div>
    
    <script>
        console.log('ID do usuario:', sessionStorage.getItem('userId'));

        // Verifica se o usuário está logado
        if (sessionStorage.getItem('userId') === null) {
            alert('Você precisa estar logado para acessar esta página.');
            window.location.href = "./index";
        }

        const userId = sessionStorage.getItem('userId');
        const socket = io('https://feiraprofissoesunisanta2024-2-backend.onrender.com', { query: { userId } });
        let tempoFase;
        let faseCompleta = false;
        // Atualiza o contador com os dados do servidor
        socket.on('atualizarContador', (contador) => {
            if (!faseCompleta) {  // Somente atualiza se a fase ainda não foi completada
                tempoFase = contador;
                document.getElementById('tempo').innerText = `Tempo: ${contador}`;
                console.log("Tempo: ", tempoFase);
            }
        });

        // COMPLETOU A FASE
        document.getElementById("completou").addEventListener('click', async () => {
            const nomeColuna = 'tempo_fase5';
            faseCompleta = true;
    
            // Exibe o tempo finalizado
            document.getElementById('tempo').innerText = `Finalizou em: ${tempoFase}`;
            
            // Desativa o botão após ser clicado
            let completou = document.getElementById("completou")
            completou.disabled = true

            if(completou.disabled == true){
                completou.style.opacity = "0.5";  
                completou.style.cursor = "default";  
            }

    
            if (userId) {
                const baseUrl = 'https://feiraprofissoesunisanta2024-2-backend.onrender.com/usuario';
    
                try {
                    const res = await fetch(baseUrl, {
                        method: 'PUT',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ userId, nomeColuna, tempoFase })
                    });
    
                    if (!res.ok) throw new Error((await res.json()).error);
    
                } catch (error) {
                    console.error('Error:', error);
                }
            }
        });

        // Redireciona para a próxima fase se o administrador mudar a fase

        socket.on('faseAtual', (numeroFase) => {
            if (numeroFase !== 10) {
                window.location.href = `./fase${numeroFase}`;
            }
        })

        // Redireciona para a próxima fase se o administrador mudar a fase
        socket.on('redirecionar', (fase) => {
            if (fase === 11) {
                window.location.href = '../Final';
            } else if(fase === 9){
                window.location.href = "./fase9";
            }
        });
    </script>
</body>

</html>
