<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fase Filmes</title>
    <script src="https://feiraprofissoesunisanta2024-2-backend.onrender.com/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="../styles/stylesFilmes.css" />
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <script src="../scripts/scriptFilmes.js" async></script>
  </head>
  <body>
    <h1 id="pagetitle">Pesquise por um filme que goste!</h1>

    <div class="search">
      <input autocomplete="off" type="text" id="query" /><button id="searchBtn">
        Pesquisar
      </button>
    </div>

    <div class="movies">
      <img src="" alt="" class="posters" id="poster" />

      <img src="" alt="" class="posters" id="poster2" />
    </div>

    <div class="box">
      <h1 id="desafio">Desafio</h1>
      <h1 id="instruc">
        Iguale o tamanho das imagens alterando a propriedade "height" do poster.
      </h1>
      <div class="userInput">
        <pre>
                #poster{
                        height: <input autocomplete="off" type="text" id="inputSize"/> px;}
            </pre>
      </div>

      <h2 id="acerto">Correto!</h2>

      <button id="completou">Finalizar</button>
    </div>

    <br /><br />

    <script>
      console.log("ID do usuario:", sessionStorage.getItem("userId"));

      if (sessionStorage.getItem("userId") === null) {
        alert("Você precisa estar logado para acessar esta página.");
        window.location.href = "./index";
      }

      const userId = sessionStorage.getItem("userId");
      const socket = io(
        "https://feiraprofissoesunisanta2024-2-backend.onrender.com",
        { query: { userId } }
      );
      let tempoFase;
      let faseCompleta = false;

      socket.on("atualizarContador", (contador) => {
        if (!faseCompleta) {
          tempoFase = contador;
          document.getElementById("tempo").innerText = `Tempo: ${contador}`;
          console.log("Tempo: ", tempoFase);
        }
      });

      document
        .getElementById("completou")
        .addEventListener("click", async () => {
          const nomeColuna = "tempo_fase2";
          faseCompleta = true;
          document.getElementById(
            "tempo"
          ).innerText = `Finalizou em: ${tempoFase}`;
          let completou = document.getElementById("completou");
          completou.disabled = true;
          completou.style.opacity = "0.5";
          completou.style.cursor = "default";

          if (userId) {
            const baseUrl =
              "https://feiraprofissoesunisanta2024-2-backend.onrender.com/usuario";
            try {
              const res = await fetch(baseUrl, {
                method: "PUT",
                headers: {
                  "Content-Type": "application/json",
                },
                body: JSON.stringify({ userId, nomeColuna, tempoFase }),
              });
              if (!res.ok) throw new Error((await res.json()).error);
            } catch (error) {
              console.error("Error:", error);
            }
          }
        });

        socket.on('faseAtual', (numeroFase) => {
            if (numeroFase !== 4) {
                window.location.href = `./fase${numeroFase}`;
            }
        })

        // Redireciona para a próxima fase se o administrador mudar a fase
        socket.on("redirecionar", (fase) => {
            if (fase === 5) {
                window.location.href = "./fase5";
            } else if(fase === 3){
                window.location.href = "./fase3";
            }
        });
    </script>
  </body>
</html>
