<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fase Iteração</title>
    <link rel="stylesheet" href="../styles/styleIteração.css">
    <script src="../scripts/scriptIteração.js" async></script>
    <script src="https://feiraprofissoesunisanta2024-2-backend.onrender.com/socket.io/socket.io.js"></script>
</head>
<body>
    <h1 id="tempo">0</h1>
    <h1 id="score">Pontos: 0</h1>
    <h2 id="tempojogo">0</h2>
    <div id="gameBoard">
        <div id="player"></div>
        <div id="targetSquare"></div>
    </div>
        <div id="iteração">
            <h2>Valor da Iteração:</h2>
            <input id="inputIteração" type="number" size="2" min="0" max="50">
        </div>

    <div id="message">Tempo encerrado</div>

    <div class="botao-container">
        <input id="start" type="button" value="Start" onclick="startTimer()">
        <button id="completou">Finalizar</button>
        <button id="botaoPopup">Mostrar Dica</button>
    </div>
    
    <div id="popup" class="popup">
        <div class="popup-content">
            <span class="close" id="fecharPopup">&times;</span>
            <h2>Dica</h2><br>
            <p>Você tem 60 seg ao clicar em start</p><br>
            <p>Utilise as setas do teclado para se movimentar</p>
        </div>
    </div>
    
    <script type="module">
        import { BASE_API_URL } from './shared/server.js';

        const userId = sessionStorage.getItem('userId');
        console.log('ID do usuario:', userId);

        if (userId === null) {
            alert('Você precisa estar logado para acessar esta página.');
            window.location.href = './index.html';
        }

        const socket = io(BASE_API_URL, { query: { userId } });
        let tempoFase;
        let faseCompleta = false;  // Flag para impedir que o tempo seja atualizado após completar a fase

        socket.emit('iniciarContador');

        // Atualiza o contador com os dados do servidor
        socket.on('atualizarContador', (contador) => {
            if (!faseCompleta) {  // Somente atualiza se a fase ainda não foi completada
                tempoFase = contador;
                document.getElementById('tempo').innerText = `Tempo: ${contador}`;
                console.log("Tempo: ", tempoFase);
            }
        });

        // COMPLETOU A FASE
        document.getElementById("completou").addEventListener('click', async () => {
            const nomeColuna = 'tempo_fase2';
            faseCompleta = true;

            // Exibe o tempo finalizado
            document.getElementById('tempo').innerText = `Finalizou em: ${tempoFase}`;
            
            // Desativa o botão após ser clicado
            let completou = document.getElementById("completou")
            completou.disabled = true

            if(completou.disabled == true){
                completou.style.opacity = "0.5";  
                completou.style.cursor = "default";  
            }

            try {
                const response = await fetch(baseUrl, {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ userId, nomeColuna, tempoFase })
                });

                if (!response.ok) {
                    const error = await response.json();
                    throw new Error(error.message);
                } 
            } catch (error) {
                console.log(error);
            }
        });

        socket.on('faseAtual', (numeroFase) => {
            if (numeroFase !== 10) {
                console.log('Usuario na fase errada. Redirecionando...');
                window.location.href = `./fase${numeroFase}.html`;
            }
        })

        socket.on('redirecionar', (fase) => {
            if (fase == 11) {
                window.location.href = `./Final.html`;
            } else {
                window.location.href = `./fase${fase}.html`;
            }
            console.log(`Admin mudou para a fase ${fase}. Redirecionando...`);
        });
    </script>
</body>

</html>
