<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../PaginaInicial/assets/logo-cavalo-branco.ico"/>
    <link rel="stylesheet" href="../styles/InterPizza.css">
    <title>Fase Pizza</title>
    <script src="https://cdn.socket.io/4.8.0/socket.io.min.js"></script>
</head>
<body>
    <div id="main">

        <div id="container">
            <!-- Título --> 
            <h1>Fase 4 - Manipulação de Variáveis</h1>

            <!-- Imagem --> 
            <img src="../assets/IterPizzavariaveis.png" alt="foto css">

            <!--Descrição --> 
            <p>Nessa fase há um trecho de código JavaScript que precisa ser corrigido, você deve preencher os preços corretos das pizzas nas caixas de entrada ao lado de cada variável e em baixo deverá colocar as somas das variáveis.</p>
        </div>
    </div>

    <script type="module">
      import { BASE_API_URL } from './shared/server.js';

      const userId = sessionStorage.getItem("userId");

      console.log("ID do usuario:", userId);

      if (userId === null) {
        alert("Você precisa estar logado para acessar esta página.");
        window.location.href = "./index.html";
      }

      const socket = io(BASE_API_URL, { query: { userId } });

      socket.on('faseAtual', (numeroFase) => {
          if (numeroFase !== 7) {
              window.location.href = `./fase${numeroFase}.html`;
          }
      })

      socket.on("redirecionar", (fase) => {
        window.location.href = `./fase${fase}.html`;
      });
    </script>
</body>
</html>