<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fase Filmes</title>
    <link rel="stylesheet" href="../styles/stylesFilmes.css" />
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <script src="../scripts/scriptFilmes.js" async></script>
    <script src="https://cdn.socket.io/4.8.0/socket.io.min.js"></script>
  </head>
  <body>
    <h1 id="pagetitle">Pesquise por um filme que goste!</h1>

    <div class="search">
      <input autocomplete="off" type="text" id="query" /><button id="searchBtn">
        Pesquisar
      </button>
    </div>

    <div class="movies">
      <img src="" alt="" class="posters" id="poster" />

      <img src="" alt="" class="posters" id="poster2" />
    </div>

    <div class="box">
      <h1 id="desafio">Desafio</h1>
      <h1 id="instruc">
        Iguale o tamanho das imagens alterando a propriedade "height" do poster.
      </h1>
      <div class="userInput">
        <pre>
                #poster{
                        height: <input autocomplete="off" type="text" id="inputSize"/> px;}
            </pre>
      </div>

      <h2 id="acerto">Correto!</h2>

      <button id="completou">Finalizar</button>
      <p id="tempo"> Tempo: 0</p>
    </div>

    <br /><br />

    <script type="module">
      import { BASE_API_URL } from './shared/server.js';

      const userId = sessionStorage.getItem('userId');
      console.log('ID do usuario:', userId);

      if (userId === null) {
          alert('Você precisa estar logado para acessar esta página.');
          window.location.href = './index.html';
      }
      
      const socket = io(BASE_API_URL, { query: { userId } });
      let tempoFase;
      let faseCompleta = false;  // Flag para impedir que o tempo seja atualizado após completar a fase
  
      socket.emit('iniciarContador');
  
      // Atualiza o contador com os dados do servidor
      socket.on('atualizarContador', (contador) => {
          if (!faseCompleta) {  // Somente atualiza se a fase ainda não foi completada
              tempoFase = contador;
              document.getElementById('tempo').innerText = `Tempo: ${contador}`;
              console.log("Tempo: ", tempoFase);
          }
      });
  
      // COMPLETOU A FASE
      document.getElementById("completou").addEventListener('click', async () => {
          const nomeColuna = 'tempo_fase2';
          faseCompleta = true;
  
          // Exibe o tempo finalizado
          document.getElementById('tempo').innerText = `Finalizou em: ${tempoFase}`;
          
          // Desativa o botão após ser clicado
          let completou = document.getElementById("completou")
          completou.disabled = true

          if(completou.disabled == true){
              completou.style.opacity = "0.5";  
              completou.style.cursor = "default";  
          }

          try {
              const response = await fetch(`${BASE_API_URL}/usuario`, {
                  method: 'PUT',
                  headers: {
                      'Content-Type': 'application/json'
                  },
                  body: JSON.stringify({ userId, nomeColuna, tempoFase })
              });

              if (!response.ok) {
                  const error = await response.json();
                  throw new Error(error.message);
              } 
          } catch (error) {
              console.log(error);
          }
      });
  
      socket.on('faseAtual', (numeroFase) => {
          if (numeroFase !== 4) {
              console.log('Usuario na fase errada. Redirecionando...');
              window.location.href = `./fase${numeroFase}.html`;
          }
      })
  
      socket.on('redirecionar', (fase) => {
          console.log('Admin mudou a fase. Redirecionando...');
          window.location.href = `./fase${fase}.html`;
      });
    </script>
  </body>
</html>
