<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste alinhamentos</title>
    <link rel="stylesheet" href="../styles/styleCarrinho.css">
    <link rel="shortcut icon" href="../PaginaInicial/assets/logo-cavalo-branco.ico"/>
    <script src="../scripts/scriptCarinho.js" async></script> 
    <script src="https://cdn.socket.io/4.8.0/socket.io.min.js"></script>
</head>
<body>

    <div class="centralizarinput">
    <div>
        <p id="tempo"> Tempo: 0</p>
    </div>
        <h1>Faça com que o carrinho cruze a linha de chegada</h1>
    <pre>
    .carrinho{
        margin-left: <input autocomplete="off" id="userInput" type="text" required minlength="4" maxlength="10" size="5" oninput="moverCarrinho(this.value)"/> px;}
    </pre>

    <div>
        <h2 id="correto">Correto! &#127881; <button id="completou">Finalizar</button></h2>
    </div>

    <div>
        <h2 id="menos">Um pouco menos...</h2>
    </div>

    </div>

    <div class="linha-chegada">
        <div class="linhachegada">
            <img class="chegada" src="../assets/chegadaCorrida.png" alt="final">
        </div>
    </div>

    <img class="carrinho" id="carrinho" src="../assets/carrinho.png" alt="Carrinho">

    <script type="module">
        import { BASE_API_URL } from './shared/server.js';

        const userId = sessionStorage.getItem('userId');
        console.log('ID do usuario:', userId);

        if (userId === null) {
            alert('Você precisa estar logado para acessar esta página.');
            window.location.href = './index.html';
        }
        
        const socket = io(BASE_API_URL, { query: { userId } });
        let tempoFase;
        let faseCompleta = false;  // Flag para impedir que o tempo seja atualizado após completar a fase

        socket.emit('iniciarContador');

        // Atualiza o contador com os dados do servidor
        socket.on('atualizarContador', (contador) => {
            if (!faseCompleta) {  // Somente atualiza se a fase ainda não foi completada
                tempoFase = contador;
                document.getElementById('tempo').innerText = `Tempo: ${contador}`;
                console.log("Tempo: ", tempoFase);
            }
        });

        // COMPLETOU A FASE
        document.getElementById("completou").addEventListener('click', async () => {
            const nomeColuna = 'tempo_fase2';
            faseCompleta = true;

            // Exibe o tempo finalizado
            document.getElementById('tempo').innerText = `Finalizou em: ${tempoFase}`;
            
            // Desativa o botão após ser clicado
            let completou = document.getElementById("completou")
            completou.disabled = true

            if(completou.disabled == true){
                completou.style.opacity = "0.5";  
                completou.style.cursor = "default";  
            }

            try {
                const response = await fetch(`${BASE_API_URL}/usuario`, {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ userId, nomeColuna, tempoFase })
                });

                if (!response.ok) {
                    const error = await response.json();
                    throw new Error(error.message);
                } 
            } catch (error) {
                console.log(error);
            }
        });

        socket.on('faseAtual', (numeroFase) => {
            if (numeroFase !== 6) {
                console.log('Usuario na fase errada. Redirecionando...');
                window.location.href = `./fase${numeroFase}.html`;
            }
        })

        socket.on('redirecionar', (fase) => {
            console.log('Admin mudou a fase. Redirecionando...');
            window.location.href = `./fase${fase}.html`;
        });
    </script>
</body>
</html>