<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/InterIteraçao.css">
    <title>Fase Iteração</title>
    <script src="https://feiraprofissoesunisanta2024-2-backend.onrender.com/socket.io/socket.io.js"></script>
</head>
<body>
    <div id="main">
        <div id="container">
            <!-- Título --> 
            <h1>Fase 5 - Iteração</h1>

            <!-- Imagem --> 
            <img src="../assets/iteração.jpg" alt="imagem de Iteração">

            <!-- Descrição --> 
            <p>Iteração é um processo no qual você soma valores repetidamente em um loop. Isso é comumente usado para calcular a soma de uma série de números ou para acumular valores ao longo de uma iteração em uma estrutura de dados, como uma lista</p>

            <p>Nessa Fase seu objetivo é escolher um melhor valor para a iteração do deslocamento do seu personagem.</p>
        </div>
    </div>

    <script type="module">
      import { BASE_API_URL } from './shared/server.js';

      const userId = sessionStorage.getItem("userId");

      console.log("ID do usuario:", userId);

      if (userId === null) {
        alert("Você precisa estar logado para acessar esta página.");
        window.location.href = "./index.html";
      }

      const socket = io(BASE_API_URL, { query: { userId } });

      socket.on('faseAtual', (numeroFase) => {
          if (numeroFase !== 9) {
              window.location.href = `./fase${numeroFase}.html`;
          }
      })

      socket.on("redirecionar", (fase) => {
        window.location.href = `./fase${fase}.html`;
      });
    </script>
</body>
</html>