<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Admin</title>
    <script src="https://cdn.socket.io/4.8.0/socket.io.min.js"></script>
</head>
<body>
    <h1>Login para o painel de administração</h1>
    <form>
        <div id="mensagem_erro"></div>
        <input placeholder="Nome"  name="nome"  id="nome"  minlength="3" maxlength="12" autocomplete="off" required>
        <input placeholder="Senha" name="senha" id="senha" minlength="6" maxlength="12" autocomplete="off" required>
        <button type="submit" id="botao">Login</button>
    </form>

    <script type="module">
        import { BASE_API_URL } from './shared/server.js';

        document.getElementById('botao').addEventListener('click', async (event) => {
            event.preventDefault();

            const nome  = document.getElementById('nome').value;
            const senha = document.getElementById('senha').value;

            const mensagemErro = document.getElementById('mensagem_erro');

            const response = await fetch(`${BASE_API_URL}/adm`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ nome, senha })
            });

            if (!response.ok) {
                const error = await response.json();
                mensagemErro.innerHTML = dados.error;
                return;
            }

            sessionStorage.setItem('isAdminLoggedIn', 'true');
            window.location.href = 'painel-adm.html';
        });
    </script>
</body>
</html>