<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel Administrativo</title>
    <script src="https://cdn.socket.io/4.8.0/socket.io.min.js"></script>
    <style>
        #controle-fases {
            display: flex;
            gap: 10px;
        }

        #desligarContadorBtn {
            margin-top: 20px;
            padding: 10px 20px;
            background-color: #ff4d4d;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        #desligarContadorBtn:hover {
            background-color: #ff3333;
        }
    </style>
</head>
<body>
    <h1>Painel Administrativo</h1>

    <div id="controle-fases">
        <button onclick="voltarFase()">Voltar</button>
        <button onclick="avancarFase()">Avançar</button>
    </div>

    <button id="desligarContadorBtn" onclick="desligarContador()">Desligar Contador</button>

    <p>Fase atual: <span id="faseAtualDisplay">1</span></p>

    <script type="module">
        import { BASE_API_URL } from './shared/server.js';

        if (sessionStorage.getItem('isAdminLoggedIn') !== 'true') {
            alert('Você precisa estar logado como administrador para acessar esta página.');
            window.location.href = 'login-adm.html';
        }

        const socket = io(BASE_API_URL);

        let faseAtual = 1;
        const NUMERO_FASES = 11;

        window.atualizarNumeroFases = function() {
            document.getElementById('faseAtualDisplay').innerHTML = `${faseAtual}`;
        }

        window.voltarFase = function() {
            if (faseAtual > 1) {
                faseAtual--;
                socket.emit('mudarFase', faseAtual);
                atualizarNumeroFases();
            }
        }

        window.avancarFase = function() {
            if (faseAtual < NUMERO_FASES) {
                faseAtual++;
                socket.emit('mudarFase', faseAtual);
                atualizarNumeroFases();
            }
        }

        window.desligarContador = function() {
            socket.emit('desligarContador');

            faseAtual = 1;
            socket.emit('mudarFase', faseAtual);

            atualizarNumeroFases();
        }
    </script>
</body>
</html>
