@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&family=Satisfy&display=swap');

*{
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #000000;
}

::-webkit-scrollbar-thumb {
    background: #22212b;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
    background: #3d3c4a;
}

input,
textarea,
button,
select,
a{
    -webkit-tap-highlight-color: transparent;
}

input:focus,
select:focus,
textarea:focus,
button:focus{
    outline: none;
}

:root{
    --fonte: 'Poppins', sans-serif;
    --corfundo: #121214;
    --azuldetalhes: #1fcad3;
    --corfonte: aliceblue;
}

html{
    background-color: var(--corfundo)
}

body {
    display: flex;
    align-items: center;
    height: 100vh;
    overflow-x: hidden;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif
}

.linha-chegada {
    display: flex;
    align-items: center;
}

.linhachegada{
    padding: 0px 350px;
    display: flex;
    justify-content: flex-end;
}

.chegada{
    height: 939px;
}

.centralizarinput{
    padding: 0px 250px;
}

.carrinho {
    margin-left: 800px;
    height: 100px;
    position: absolute;
    transition: margin-left 0.5s ease;
}

#correto{
    color: rgba(88, 251, 76, 0.884) ;
    font-size: 50px;
    display: none;
    justify-content: center;
    padding-top: 50px;
}

#menos{
    color: var(--corfonte);
    font-size: 50px;
    display: none;
    justify-content: center;
    padding-top: 50px;
}

#userInput{
    box-shadow: #dbf4fd2e 0px 0px 80px 0px;
    border-color: var(--azuldetalhes);
    border-style: solid;
    background-color: transparent;
    border-radius: 20px;
    color: #EEEEEE;
    padding: 5px 10px;
    width: 45px;
    height: 10px;
    font-size: 1rem;
}

h1{
    font-size: 2.4rem;
    font-family: var(--fonte);
    color: var(--azuldetalhes);
    margin-bottom: 20px;
}

pre{
    font-family: var(--fonte);
    font-size: 1.7rem;
    color: var(--corfonte);
}

#buttonProximo{
    font-family: var(--fonte);
    cursor: pointer;
    font-size: 1.2rem;
    display: none;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px;
    margin: 80px 150px;
    border: 2px solid var(--azuldetalhes);
    color: var(--corfonte);
    background-color: transparent;
    border-radius: 15px;
    transition: all 0.2s ease;
}

#buttonProximo:hover{
     box-shadow: rgba(240, 248, 255, 0.182) 0px 0px 30px 0px;
}

a{
    text-decoration: none;
}
