@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&family=Satisfy&display=swap');

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }

    input:focus,
    select:focus,
    textarea:focus,
    button:focus{
        outline: none;
    }

    html{
        background-color: #121214;
    }

    body{
        padding: 0 25%;
    }

    #instruc{
        color: #EEEEEE;
        font-size: larger;
    }

    #desafio{
        color: #EEEEEE;
    }

    #pagetitle{
        color: #EEEEEE;
        text-align: center;
        margin-top: 25%;
        font-size: 40px;
    }

    #acerto{
        color: rgba(88, 251, 76, 0.884);
        margin-left: 25px;
        display: none;
        padding-bottom: 25px;
    }
    
    #continuar{
        background-color: transparent;
        border-style: solid;
        padding: 0.5rem 1rem;
        border: 2px solid #1fcad3;
        border-radius: 10px;
        color: aliceblue;
        font-size: 20px;
        cursor: pointer;
        display: none;
        margin: auto;
        transition: all 0.2s ease;
    }

    #continuar:hover{
         box-shadow: rgba(240, 248, 255, 0.182) 0px 0px 30px 0px;
    }

    a{
        text-decoration: none;
    }

    #poster
    {
        max-height: 400px;
        min-height: 100px;
    }

    #poster2{
        max-height: 325px;
    }

    .posters{
        box-shadow: #dbf4fd1a 0px 0px 80px 0px;
    }

    .box{
        display: none;
        text-align: center;
        flex-direction: column;
        gap: 25px;
        max-width: 500px;
        min-width: 300px;

        border-style: solid;
        border-color: #1fcad3;
        border-radius: 15px;
        padding: 20px;

        margin-left: auto;
        margin-right: auto;
        box-shadow: #dbf4fd2e 0px 0px 80px 0px;
    }

    .movies{
        display: none;
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin-bottom: 50px;
    }

    .search{
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 6px;
        top: 20px;
        margin-bottom: 50px;
        margin-top: 20px;
    }

    #query{
        border-color: #1fcad3;
        border-style: solid;
        border-width: 3px;
        background-color: transparent;
        border-radius: 15px;
        color: #EEEEEE;
        padding: 5px 10px;
        width: 350px;
        height: 40px;
        font-size: 1rem;
    } 

    #searchBtn{
        
        position: absolute;
        margin-left: 250px;
        border-style: none;
        background-color: #1fcad3;
        border-radius: 0px 15px 15px 0px;
        color: #EEEEEE;
        padding: 5px 10px;
        height: 40px;
        font-size: 1rem;
        cursor: pointer;
    }

    #inputSize{
        border-color: #ffffff15;
        border-style: solid;
        border-width: 3px;
        background-color: transparent;
        border-radius: 15px;
        color: #EEEEEE;
        padding: 5px 10px;
        width: 100px;
        height: 40px;
        font-size: 1rem;
    }

    .userInput pre{
        color: #EEEEEE;
        line-height: 1px;
        text-align: start;
        margin-top: 10px;
    }

    .userInput{
        display: flex;
        align-items: center;
        margin-top: 20px;
        margin-left: -50px;
        justify-content: center;
    }

    #bracket{
        margin-top: 23px;
    }