@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&family=Satisfy&display=swap');

::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #000000;
}

::-webkit-scrollbar-thumb {
    background: #22212b;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
    background: #3d3c4a;
}

input,
textarea,
button,
select,
a{
    -webkit-tap-highlight-color: transparent;
}

:root{
    --azul-detalhes: #1fcad3;
    --cor-fundo:#121214;
    --cor-fonte:aliceblue;
}

#raimbow{
    animation: rainbow 3s linear infinite;
}

html{
    background-color: var(--cor-fundo);
}


html, body {
    font-family: 'Poppins', sans-serif;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
}


#carrinho-compras {
    border: 2px solid ;
    border-color: var(--azul-detalhes);
    width: 420px;
    text-align: center;
    border-radius: 15px;
    margin-bottom: 15px;
    box-shadow: #dbf4fd2e 0px 0px 80px 0px;
}

#carrinho-compras p{
    font-size: 1.5rem;
    margin-left: 10px;
}

h1{
    color: var(--cor-fonte);
    margin-bottom: 0px;
    margin-top: 15px;
}

#mostrar{
    color:var(--cor-fonte);
}

#buttonProximo {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20%;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: transparent;
    border: 2px solid var(--azul-detalhes);
    color: var(--cor-fonte);
    transition: background-color 0.2s ease;
    cursor: pointer;
    width: 150px;
    height: 50px;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
}

#buttonProximo:hover {
    box-shadow: rgba(240, 248, 255, 0.182) 0px 0px 30px 0px;
}

#botao1{
    padding: 10px;
    width: 150px;
    height: 50px;
    margin: 5px 0px;
    border-color: var(--azul-detalhes);
    border-style: solid;
    border-width: 3px;
    background-color: transparent;
    border-radius: 15px;
    color: var(--cor-fonte);
    font-size: 1.3rem;
    transition: all 0.2s ease;
}

#botao1:hover{
    box-shadow: rgba(240, 248, 255, 0.182) 0px 0px 30px 0px;
    cursor: pointer;
}

.imgpizza {
    height: 120px;
}

#pizzaAlinhamento{
    color: var(--cor-fonte);
    display: flex;
    align-items: center;
    justify-content: center;
}

#pizzaAlinhamento h2{
    margin-top: 2px;
}

#correto{
    color: rgba(88, 251, 76, 0.884) ;
    font-size: 30px;
    display: none;
    justify-content: center;
}

#conserto{
    color: var(--cor-fonte);
    border: 2px solid;
    border-color: var(--azul-detalhes);
    width: 420px;
    text-align: center;
    border-radius: 15px;
    box-shadow: #dbf4fd2e 0px 0px 60px 0px;
}

strong{
    color: var(--azul-detalhes);
}

pre{
    font-size: 1.5rem;
    margin: 15px 0px;

}
h2{
    color: var(--cor-fonte);
    margin: 15px 0px;
}

input{
    height: 15px;
    background-color: transparent;
    border-radius: 15px;
    color: #EEEEEE;
    padding: 5px 10px;
    color: var(--cor-fonte);
    font-size: 1.2rem;
    border: 2px solid var(--azul-detalhes);
    background-color: transparent;
}

#formula{
    font-size: 1rem;
    padding: 10px ;
    width: 165px;
    height: 10px;
}

#totalpizza{
    color: white;
    font-size: 1.2rem;
}

#erro{
    color: red;
    font-size: 1.2rem;
    display: block;
}

#aviso1{
    font-size: 25px;
}





